HTML{
    height:100%;
}
body{
    background-image: url(spiration-light.png);
    margin:0;
    overflow:hidden;
    height:100%;
}
.navbar-brand{
    background-color: #4aaaa5;
    color:#ffffff !important;
    width:250px;
    line-height:0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:30px;
    margin-top: 20px;
    margin-bottom: 0;
}
.collapse{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:16px;
    padding-top: 0px;
    position:inline;
    right:0;
    display:inline-block;
}
.navbar-static-top{
    position:absolute;
    background-color: #ffffff;
    border-color:#cccccc;
    border-width:3px;
    border-style:solid;
    padding-top: 0px;
    top:0px;
    margin-top:0px;
    margin-right: 0px;
    margin-left:0 px;
    border-top: 0px;
    width: 100%;
    margin-bottom:0px;
    line-height: 80px;
}
li{
        content:' ';
        border-right:2px solid #777777;
        margin-top: 10px;
        margin-bottom:10px;
    }
.panel{
    margin-top: 20%;
    background-color:white;
    color:#777777;
    border-top:0;

}
.panel-heading{
    color:#4aaaa5 !important;
    background-color: #ffffff !important;
    font-size: 36px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border: none;
    box-shadow: none;
}
.panel-heading:after
{
    content:' ';
    display:block;
    border:2px solid #777777;
}
img{
    display:inline-block;
    padding: 25px;
}

#portfolio{
    display:inline-block;
    margin-top:120px;
    block-size:100%;
    padding-left:100px;
    padding-right:100px;
}

.hangman{
    position:absolute; z-index:150; top:285px; left:240px;
    background-color: #4aaaa5;
    color:white;
    font-size: 20px;
    text-align: center;
    width:150px;
}
.trivia{
    position:absolute; z-index:250; top:420px; left:239px;
    background-color: #4aaaa5;
    color:white;
    font-size: 20px;
    text-align: center;
    width:150px;
}
.rock{
    position:absolute; z-index:350; top:520px; left:239px;
    background-color: #4aaaa5;
    color:white;
    font-size: 18px;
    text-align: center;
    width:150px;
}
.rpg{
    position:absolute; z-index:-150; top:-285px; left:-240px;
    background-color: #4aaaa5;
    color:white;
    font-size: 20px;
    text-align: center;
    width:150px;
}
.rutgers{
    position:absolute; z-index:-250; top:-385px; left:-340px;
    background-color: #4aaaa5;
    color:white;
    font-size: 20px;
    text-align: center;
    width:150px;
}
.action_page{
    display:block;
}



h3{
    color:#4aaaa5;
    font-size:20px;
    padding-top:50px;
    padding-left:20px;
}
#submit{
    background-color:#4aaaa5;
    color:#ffffff;
}

.footer{
        margin-top: 90%;
        position:absolute; 
        right:0;
        bottom:0;
        left:0;
        padding:1rem;
        background-color: #666666;
        color:#777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
}