HTML {
    height: 100%;
}

body {
    background-image: url(spiration-light.png);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.brand-logo {
    margin-left: 17%;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.menu {
    margin-left: 60%;
}

li {
    color: #4aaaa5 !important;
}

.colorcontainer {
    border-color: #cccccc;
    border-width: 3px;
    border-style: solid;
}

.header {
    color: #4aaaa5 !important;
    background-color: none;
    font-size: 36px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 10px;
}

.card-heading {
    color: #4aaaa5 !important;
    background-color: none;
    font-size: 36px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 72px;
    text-align: center;
}

.card {
    padding-top: -20px;
}

.panel {
    background-color: white;
    color: #777777;
}

.panel-heading {
    color: #4aaaa5 !important;
    background-color: #ffffff !important;
    font-size: 36px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.liri {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 80px;
    border: 1px solid #ccc;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.rock {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 80px;
    border: 1px solid #ccc;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.rpg {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 80px;
    border: 1px solid #ccc;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.rutgers {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 80px;
    border: 1px solid #ccc;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

.trivia {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 80px;
    border: 1px solid #ccc;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

h3 {
    color: #4aaaa5;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
}
#social{
    margin-left: 20px;
}
.footer {
    margin-top: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 1rem; */
    background-color: #666666;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}
@media only screen and (max-width: 480px)  {

    .card {
  
      display:block;
  
      width:100%;
  
    }
  